<form onsubmit="return false" id="form6">
    <fieldset style="padding-bottom: 0px;">
    <legend class="float-none w-auto px-2">Experience
        <button class="form-element form-control" id="add-experience">+</button>
    </legend>

    <div class="experience">

        <div class="flex-wrap">
            <div class="form-group">
                <label class="form-label" for="company-name">Company Name:</label>
                <input type="text" class="form-element form-control" id="company-name" name="experience[][company_name]" placeholder="Enter Company Name" required>
            </div>

            <div class="form-group">
                <label class="form-label" for="passing-year">Passing Year:</label>
                <input type="text" class="form-element form-control" id="passing-year" name="experience[][passing_year]" placeholder="Enter Passing Year" required>
            </div>
        </div>

        <div class="form-group" style="width:93%;">
            <label class="form-label" for="responsibilities" style="margin:0px;">Responsibilities: </label>
            <textarea class="form-control" name="experience[][responsibilities]" id="responsibilities" rows="3" required></textarea>
        </div>
        
    </div>

    </fieldset>
</form>