<h2>Choose Template </h2>

<div class="show-templates">
    
    <div class="template" id="a">
        <div class="blur"></div>
        <iframe src="/Templates/Template1.pdf#toolbar=0"></iframe>
    </div>

    <div class="template" id="b">
        <div class="blur"></div>
        <iframe src="/Templates/Template2.pdf#toolbar=0"></iframe>
    </div>

    <div class="template" id="c">
        <div class="blur"></div>
        <iframe src="/Templates/Template3.pdf#toolbar=0"></iframe>
    </div>
</div>


