#skills{
    width:350px;
    margin: 2px 25px 2px 10px;
}

.skill{
    display: inline-block;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px 10px;
    background-color: rgb(231, 231, 230);
    box-shadow: 0px 0px 5px lightslategray;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.skill:hover{
    cursor: pointer;
}

#show-skills{
    margin: 20px 10px;
    padding: 10px;
    width: 100%;
    min-height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(233, 232, 232, 0.488);
}

#add-skill{
    font-size: 18px;
    font-weight: 400;
    margin-top: 2px;
    box-shadow: 0px 0px 5px gray;
}